.aboutFlex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.aboutText {
  width: 70%;
  text-align: center;
}

.skillsFlex {
  display: flex;
  flex-direction: column;

  h2 {
    margin: 30px auto 0;
  }
}

.skillsIcons {
  display: flex;
  flex-wrap: wrap;
  margin: 6% auto;
  justify-content: center;

  li {
    flex-basis: 17%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &:hover {
      color: #f4a09c;
      transition: all 0.2s;
    }
  }
  img {
    width: 3rem;
  }
}

.projectsFlex {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    padding-bottom: 30px;
  }
}

.project1Flex {
  display: flex;
  width: 80%;
  margin-bottom: 50px;

  .projectText1 {
    width: 60%;
  }

    .pokegenerator {
      display: flex;
      justify-content: center;
    }

    img {
      width: 90%;
    }

}

.project2Flex {
  display: flex;
  width: 80%;
  margin-bottom: 50px;

  .projectText2 {
    margin-right: 50px;
  }

  img {
    width: 90%;
  }

  .projectText2 {
    width: 60%;
  }
}

.project3Flex {
  display: flex;
  width: 80%;
  margin-bottom: 50px;

  .projectText3 {
    margin-left: 50px;
  }

  img {
    width: 90%;
  }

  .projectText3 {
    width: 60%;
  }
}

.contactText {
  width: 70%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

}
