.aboutFlex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;
  margin: 150px auto;

  .aboutText {
    display: flex;
    align-items: center;

    p {
      padding-left: 30px;
    }

    img {
      width: 12rem;
      border-radius: 20px;
    }
  }
}

.winterpeg {
  text-decoration: line-through;
}

.skills {
  background-image: linear-gradient(to bottom, transparent, #f9d9ed);
}

.skillsFlex {
  display: flex;
  flex-direction: column;
  margin: 120px 0;

  h2 {
    margin: 40px auto 40px;
  }
}

.skillsIcons {
  display: flex;
  flex-wrap: wrap;
  margin: 6%;
  justify-content: center;
  padding: 0;

  li {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &:hover {
      svg {
        fill: #f974c4;
        transition: all 0.2s;
      }
      p {
        color: #f974c4;
        transition: all 0.2s;
      }
    }

    p {
      height: 50px;
      text-align: center;
      font-size: 0.8rem;
    }
    svg {
      fill: #212427;
      width: 3rem;
    }
  }
}

.projectsBackground {
  background-image: linear-gradient(to bottom, transparent, #f7f7f7),
    url("../assets/pawel-czerwinski-OG44d93iNJk-unsplash2.jpg");
  background-size: cover;
  background-position: center;
}

.projectGradient {
  background-color: hsla(0, 0%, 100%, 0.6);
  border-radius: 20px;
}

.projectsFlex {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    padding-bottom: 30px;
  }

  h3 {
    margin-bottom: 0;
  }

  ul {
    display: flex;
    padding: 0;
    margin: 5px;
  }

  li {
    margin-bottom: 10px;
  }

  p {
    margin-top: 5px;
  }
}

.projectText {
  padding: 0 30px;
}

.projectImages {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 0 10px;
}

.projectIcon {
  svg {
    fill: #212427;
    width: 1.75rem;
    margin-right: 5px;
  }
  li {
    &:hover {
      svg {
        fill: #f974c4;
        transition: all 0.2s;
      }
    }
  }
}

.projectLeft {
  display: flex;
  margin-bottom: 50px;
}

.projectLeftImage {
  display: flex;
  align-items: center;
}

.projectRightImage {
  display: flex;
  align-items: center;
}

.projectRight {
  display: flex;
  margin-bottom: 50px;
}

.w-1\/2 {
  width: 50%;
}

.madeWith {
  margin: 0 0 5px 0;
}

.hideMobile {
  display: none;
}

// CONTACT

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  .contactIcons {
    display: flex;
    justify-content: space-around;
    padding: 0;

    a {
      padding: 5px;
    }
  }

  i {
    color: black;
  }

  i:hover {
    color: #f974c4;
    transition: all 0.2s;
  }

  .contactText {
    text-align: center;
    padding: 0 40px;
  }
}

footer {
  p {
    text-align: center;
  }
}
