nav {
  line-height: 29px;
  letter-spacing: 1px;
  font-size: 0.75rem;
  background-color: #f4a09c;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    margin: 0;
    padding: 20px;
  }

  li {
    color: white;
    padding: 0 20px;

    a {
      color: black;

      &:hover,
      &:focus {
        color: white;
        transition: all 0.2s;
      }
    }
  }
}
