nav {
  line-height: 29px;
  letter-spacing: 1px;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    margin: 0;
    padding: 1rem;
  }

  li {
    color: white;
    padding: 0rem 1rem;

    a {
      color: black;

      &:hover,
      &:focus {
        color: white;
        transition: all 0.2s;
      }
    }
  }
}
